:root {
    --dark: #0b274d;
    --graypurp: #846b8a;
    --coral: #ce747c;
    --bluegray: #374567;
    --purple: #3b314e;
    --pink: #9f6371;
    --lightpink: #fef4f6;
    --brick: #6f3d42;
    --gray: #f8f6fc;
    --lavender: #7c7294;
  }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--dark);
    color: var(--gray);
}

label {
    color: var(--gray);
    font-size: large;
}

input {
    color: var(--coral);
}

h1, html {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--lightpink);
}

a:hover {
    color: var(--coral);
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/mountain.jpeg");
    background-position: bottom;
    background-size: cover;
    color: var(--lightpink);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 1000px;
    width: 100% !important;
}

#map {
    min-height: 400px;
}

.table-style {
    overflow-y: auto;
    height: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search {
    padding: 10px;
}

.display-weather {
    padding: 10px;
}

h3 {
    padding-left: 10px;
}
